{% extends 'base.html' %}
{% block content %}
    <div class="container form-container">
        <h2>Edit Material</h2>
        <form method="post" action="{% url 'edit_item' %}">
            {% csrf_token %}
            
            <label for="composition">Material Name:</label>
            <input type="text" id="composition" name="composition" value="{{ item.composition }}" required><br>
            
            <label for="method">Acquisition Method:</label>
            <input type="text" id="method" name="method" value="{{ item.method }}" required><br>
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ item.name }}" required><br>
            
            <label for="date_acquired">Date Acquired:</label>
            <input type="date" id="date_acquired" name="date_acquired" value="{{ item.acquired }}" required><br>
            
            <label for="lastupdate">Last Updated:</label>
            <input type="date" id="lastupdate" name="lastupdate" value="{{ item.lastupdate }}" required><br>
            
            <label for="doi">DOI:</label>
            <input type="text" id="doi" name="doi" value="{{ item.doi }}" required><br>
            
            <label for="summary">Summary:</label>
            <textarea id="summary" name="summary" required>{{ item.summary }}</textarea><br>
            
            <button type="submit">Save</button>
            </form>
    </div>
</body>
</html>
{% endblock %}