{% extends 'base.html' %}

{% block content %}
    <style>
    .centered-content {
        text-align: center;
        margin: 0 auto;
    }
    </style>

    <div class="centered-content">
        <h2>Welcome to the  SMARTBANK: Soft, Multicomponent, Active, Resilient, Tough, Biomaterials to Advance New Knowledge!</h2>  
        <h3>Click the Data button to see all entries.</h3>
        <h3>Please log in to view the procedure and datapoints for each entry.</h3>
        <a href="{% url 'show_pdf' %}">View Documentation</a>
    </div>

{% endblock %}
