{%extends 'base.html' %}

{% block content %}
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Material Composition</th>
                        <th>Acquisition Method</th>
                        <th>Owner</th>
                        <th>Date Acquired</th>
                        <th>Last Updated</th>
                        <th>DOI</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materials %}
                        <tr>
                            {% if user.is_authenticated %}
                            <td><a href="{% url 'materialInfo' sID=material.identifier %}">
                                {{ material.identifier }}
                            </a></td>
                            {% else %}
                            <td> {{material.identifier}}</td>
                            {% endif %}
                            <td>{{ material.composition }}</td>
                            <td>{{ material.method }}</td>
                            {% if material.name.first_name %}
                            <td>{{ material.name.first_name}}</td>
                            {% else %}
                            <td>{{ material.name}}</td>
                            {% endif %}
                            <td>{{ material.acquired }}</td>
                            <td>{{ material.lastupdate }}</td>
                            <td>{{ material.doi }}</td>
                            <td>
                                {% if material.lock == False %}
                                {% if user.is_authenticated %}
                                {% if user == material.name%}
                                <div class="dropdown">
                                    <!--button class="dropbtn">Edit</button-->
                                    <div class="dropdown-content">
                                      <a href="{% url 'update' sID=material.identifier %}">Update</a>
                                      <a href="{% url 'delete_item' sID=material.identifier %}">Delete</a>
                                      <a href="{% url 'lock' sID=material.identifier %}">Lock</a>
                                    </div>
                                  </div>
                                  {% endif %}
                                  {% endif %}
                                  {% endif %}
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}