<nav class="navbar navbar-expand-lg navbar-styled">
  <!-- Container wrapper -->
  <div class="container">
      <script type="text/javascript">
          function redirectToAddMaterial() {
              window.location.href = "{% url 'add_material' %}";
          }
      </script>
     <button class="btn btn-primary add-material-btn" onclick="redirectToAddMaterial()">Add Material</button>
      <!-- Navbar brand -->
      <a class="navbar-brand" href="https://www.sandiego.edu/">
          <img id="USD-logo" src="https://gw-advance-prod-us-east-1-system.s3.amazonaws.com/uploads/entity/headlogo/57c9cca868aeae38369a07aa/Circle_Template.png" alt="USD Logo" draggable="false" height="50" />
      </a>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex align-items-center w-100 form-search" method=POST action="{% url 'search' %}">
            {%csrf_token%}
              <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="searched"/>
              </div>
              <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
          </form>
      </div>
      <button onclick="window.location.href='http://127.0.0.1:8000/website/';">Home</button>
  </div>
</nav>