<nav class="navbar navbar-expand-lg navbar-styled">
  <!-- Container wrapper -->
  <div class="container">
    <div id = "add_mat">
      <script type="text/javascript">
          function redirectToAddMaterial() {
              window.location.href = "{% url 'add_material' %}";
          }
      </script>
      {% if user.is_authenticated != False %}
     <button class="nav-item" onclick="redirectToAddMaterial()">Add Material</button>
     {% endif %}
     </div>
     <script type="text/javascript">
        if(document.URL.includes("add_material")){
            add_mat.style.display = "none"
        }
        else{
            add_mat.syle.display="mat"
        }

    </script>
      <!-- Navbar brand -->
      <a class="navbar-brand" href="https://www.livingbam.org">
          <img id="USD-logo" src="/media/logo/slack.png" draggable="false" height="50" />
      </a>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex align-items-center w-100 form-search" method=POST action="{% url 'search' %}">
            {%csrf_token%}
              <div class="input-group">
                  <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="searched"/>
              </div>
              <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
          </form>
      </div>
      <button class = "nav-item">
        <a class = "nav-link" href = "{%url 'homepage' %}">Home</a>
      </button>
      <button class = "nav-item">
        <a class = "nav-link" href = "{%url 'index' %}">Data</a>
      </button>
      {% if user.is_authenticated %}
      <button class = "nav-item">
        <a class = "nav-link" href = "{%url 'logout' %}">Log Out</a>
      </button>
      {% else %}
      <button class = "nav-item">
        <a class = "nav-link" href = "{%url 'login' %}">Login</a>
      </button>
      <button class = "nav-item">
        <a class = "nav-link" href = "{%url 'register_user' %}">Register</a>
      </button>
      {% endif %}
  </div>
</nav>